/*Login Form*/
.ant-form{
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.ant-form.ant-form-horizontal.login-form {
    padding: 20px;
    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.65);
}

.ant-form img{
  margin: 0 auto!important;
  display: flex!important;
  padding: 20px;
}

input#normal_login_username, input#normal_login_password {
  background: transparent;
}

.ant-input-affix-wrapper .ant-input:not(:first-child){
  border: 1px solid gray;
}

span.ant-form-item-children, #register-now{
  color: gray!important;
}

#register-now{
  text-align:center!important;
  display: block;
}

button.ant-btn.login-form-button.ant-btn-primary{
  width: 100%;
  color: yellow;
  background-color: black;
  border-color: yellow;
}
/*#user-logo{
  display: block;
  text-align: center!important;
  margin: 20px 110px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
  border-radius: 100px;
}

#user-logo img{
  width: 100px!important;
  height: 100px!important;
/*  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

/*Media Queries*/
@media (min-width: 320px) and (max-width: 526px){
  .ant-form{
    width: 90%!important;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


